<div class="row">
          <div class="col-sm-8 col-sm-offset-2">
              <div class="well">
                <form>
                    <div class="form-group">
                        <input type="url" class="form-control" id="url" name="url" ng-model="mainCtrl.urlModel.input" placeholder="enter/paste url">
                    </div>
                </form>
              </div>

              <div class="well">

                <p ng-show="mainCtrl.urlModel.urlWithoutParams.length > 0">Address:</p>
                <form ng-show="mainCtrl.urlModel.urlWithoutParams.length > 0">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="mainCtrl.urlModel.urlWithoutParams">
                    </div>
                </form>
                <p>Query params:</p>
                <div class="table-responsive">
                    <table class="table table-striped table-condensedq">
                        <tr>
                            <th>#</th>
                            <th>name</th>
                            <th>value</th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="param in mainCtrl.urlModel.queryParams track by $index" ng-show="mainCtrl.urlModel.queryParams.length > 0">
                            <td>{{$index + 1}}</td>
                            <td>
                                <form>
                                    <div class="form-group">
                                        <input type="text" class="form-control" value="{{param.name}}" ng-model="mainCtrl.urlModel.queryParams[$index].name" placeholder="enter param name">
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="form-group">
                                        <input type="text" class="form-control" value="{{param.value}}" ng-model="mainCtrl.urlModel.queryParams[$index].value" placeholder="enter param value">
                                    </div>
                                </form>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-xs btn-block" ng-click="mainCtrl.urlModel.removeUrlParam($index)">X</button>
                            </td>
                        </tr>
                        <tr>
                            <td>new</td>
                            <td>
                                <form>
                                    <div class="form-group">
                                        <input type="text" class="form-control" value="{{param.name}}" ng-model="mainCtrl.urlModel.newElement.name">
                                    </div>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <div class="form-group">
                                        <input type="text" class="form-control" value="{{param.value}}" ng-model="mainCtrl.urlModel.newElement.value">
                                    </div>
                                </form>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger btn-xs btn-block" ng-click="mainCtrl.urlModel.addUrlParam()">add</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <p>hash:</p>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="mainCtrl.urlModel.urlHash">
                    </div>
                </form>
              </div>
              <div class="well" ng-show="mainCtrl.urlModel.output.url.length > 0">
                <p>output: <br />
                  <a href="{{mainCtrl.urlModel.output.url}}" target="_blank">
                    <span ng-bind-html="mainCtrl.urlModel.output.description"></span>
                  </a>
                </p>
                <button class="btn btn-fab btn-raised btn-fab-mini btn-material-lime"><i class="mdi-navigation-arrow-forward"></i><div class="ripple-wrapper"></div></button>
              </div>
          </div>
      </div>